* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("images/ship.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
nav {
  height: 50px;
  width: 100%;
  padding: 20px 0;
}
.container {
  width: 1200px;
  max-width: 85%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 0px 6px;
}
nav ul li a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 30px;
}
nav ul li a:hover,
a.active {
  background-color: #e33741;
  border-radius: 5px;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 70px;
  align-items: center;
}
.booking-content {
  color: #fff;
  width: 100%;
  float: left;
  margin-left: 50px;
}
.booking-content h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
}
.booking-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  float: right;
  width: 65%;
  margin-left: 180px;
}
.booking-form h3 {
  margin: 10px 0px;
}
.booking-form .input-group {
  margin: 10px 0;
}
.booking-form .calculations {
  margin: 10px 0;
}
.booking-form .calculations p {
  font-weight: 500;
  margin-bottom: 10px;
}
.booking-form input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f3f5ff;
  border-radius: 4px;
  margin: 10px 0;
}
.f-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inp-width {
  width: 600px;
}
.inp-style {
  margin-right: 40px;
}
.plus-minus-btn {
  width: 80px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.plus-minus-btn button {
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  flex: 1;
  border: 1px solid black;
  padding: 3px;
  margin-left: 1px;
  border-radius: 5px;
}
.booking-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.btn-style {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #e33741;
}
.amount {
  display: flex;
  justify-content: space-between;
}

/* popup section with card */
.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  width: 800px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(100, 100, 100);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

.close-btn a{
    color: #bb2525;
}

.close-btn a:hover {
  cursor: pointer;
  color: #ff0000;
}

.close-btn .icon {
  width: 20px;
  height: 20px;
}

.card h1 {
  font-style: italic;
  font-size: 60px;
  color: rgb(73, 73, 73);
  padding-bottom: 10px;
}

.card h4 {
  padding-bottom: 40px;
}

.card .bottom {
  display: flex;
  justify-content: center;
}

/* pop up table for cost preview */
table tr td {
  padding: 5px;
}

table tr :first-child {
  text-align: right;
  margin-right: 20px;
}
table {
  border-collapse: collapse;
}
table .last-row {
  border-top: 2px solid black;
  color: rgb(22, 196, 22);
  font-size: 18px;
}

/* Pop up Confirmation */
#popup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

#popup .card {
  transition: all 0.6s;
  transform: translate(-50%, -50%) scale(0.5);
}
#popup:target .card {
  transform: translate(-50%, -50%) scale(1);
}

#popup:target {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
